body {
	
	font-family: "Arial" , sans-serif;
}


header {
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
	border-bottom: 2px solid #f8f8f8;
	margin-bottom: 2rem;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*margin-top: 1rem;*/


}

.logo-container {
	display: flex;
	gap: 1rem;
	align-items: center;

}

.logo {
	font-size: 1.5rem;
	background: red;
	padding: 1rem 1.5rem;
	color: white;
	border-radius: 0.5rem;

}

.logo-label {
	font-size: 2rem;
}


ul {
	display: flex;
	list-style-type: none;
	gap: 2.5rem;


}

nav ul li a{
	font-size: 1.5rem;
	color: black;
	transition: all 0.3s ease;
	cursor: pointer;
	text-decoration: none;
}

nav ul li a:hover {
	color: red;

}

/*main content */

main {
	margin: 0 auto;
	max-width: 1200px;
	padding: 1rem;
}



.main-content-article h2{
	color: red;
	font-size: 2rem;
	margin-bottom: 1rem;

}

.main-content-article p{
	font-size: 1.5rem;
	line-height: 1.5;
	margin-bottom: 1rem;

}


