@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.header {
	background: #111111;
	padding: 1.5rem 2.5rem;
	position: sticky;
	top: 0;
	z-index: 1000;
}	
nav {
	position: relative;
}

.header nav {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header nav .title-container {
	display: flex;
	gap: 1rem;
	align-items: center;
	color: #FFFFFF;
	font-size: clamp(0.8rem, 4vw, 1.3rem);
}

.header nav i {
	gap: 1rem;
	color: #FFFFFF;
	font-size: clamp(1rem, 4vw, 1.8rem);
	display: none;
}

.header nav div i {
	color: #FFFFFF;
	font-size: clamp(1rem, 4vw, 1.8rem);
}


.header nav ul {
	display: flex;
	gap: 1rem;
	list-style-type: none;
	
}

.nav-content li a {
	text-decoration: none;
	font-size: 1.3rem;
	color: #F3F4F6;
	font-weight: 600;
}

.hero-section {
	overflow: hidden;
	max-width: 100vw;
	height: 100vh;
	position: relative;
}

.about-filter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgba(0, 0, 0, 0.8);
}

.hero-section video{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -2;
	object-fit: cover;
}

.about-content {
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;

}

.about-content h2 {
	font-size: 4rem;
	letter-spacing: 0.1em;
	font-weight: 700;
}

.about-content p {
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	font-weight: 500;
}
























@media (max-width: 768px) {
    .header nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 100%;
        right: 2.5rem;
        background: #1a1a1a;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        width: 180px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.3);
        gap: 1rem;
        z-index: 1000;
    }

    .nav-content.show {
        display: flex;
    }

    .header nav i {
        display: flex;
    }
}
